<div class="container mb-5">
    <div class="ordem-compra" *ngIf="idPedidoCompra === undefined">
      <form novalidate>
      
        <h5>Sua Compra</h5>
        <hr />
  
        <div class="form-row" style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">
          <div class="form-group col-sm-1">
            <img src="/assets/ofertas/1/img1.jpg" class="img-fluid">
          </div>
          <div class="form-group col-sm-6">
            Super Burger
            <br />
            Rodízio de Mini-hambúrger com opção de entrada.
          </div>
  
          <div>
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-link">-</button>
                1
                <button type="button" class="btn btn-link">+</button>
              </div>
            </div>
          </div>
  
          <div class="form-group col-sm-3 d-flex justify-content-end">
            29.90
          </div>
        </div>
        
        <div class="form-row" style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">
          <div class="form-group col-sm-1">
            <img src="/assets/ofertas/4/img1.jpg" class="img-fluid">
          </div>
          <div class="form-group col-sm-6">
            Estância das águas
            <br />
            Diversão garantida com piscinas, trilhas e muito mais.
          </div>
  
          <div>
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-link">-</button>
                1
                <button type="button" class="btn btn-link">+</button>
              </div>
            </div>
          </div>
  
          <div class="form-group col-sm-3 d-flex justify-content-end">
            31.90
          </div>
        </div>
        
        <div class="form-row">
          <div class="form-group col d-flex justify-content-end">
            <h4>Total do pedido: 61.80</h4>
          </div>
        </div>
        <br />
  
  
        <h5>Dados de entrega</h5>
        <hr />
  
        <div class="form-row">
  
          <div class="form-group col-md-6">
            <input type="text" class="form-control {{enderecoEstadoPrimitivo ? '': (enderecoValido ? 'is-valid' : 'is-invalid')}}" placeholder="Endereço" autocomplete="off" minlength="5" required [value]="endereco" #inputEndereco (input)="atualizaEndereco(inputEndereco.value)">
            
            <div *ngIf="enderecoEstadoPrimitivo == false" >
              <div *ngIf="enderecoValido; else msgEnderecoInvalido">
                <small class="form-text text-sucess">OK</small>
              </div>
              <ng-template #msgEnderecoInvalido>
                <small class="form-text text-sucess">Endereco Invalido</small>
              </ng-template>
            </div>
          </div>
  
          <div class="form-group col-md-2">
            <input type="number" class="form-control {{numeroEstadoPrimitivo ? '' : (numeroValido ? 'is-valid' : 'is-invalid')}}" placeholder="Número" autocomplete="off" minlength="1" required [value]="numero" #inputNumero (input)="atualizaNumero(inputNumero.value)">
            
            <div *ngIf="numeroEstadoPrimitivo == false" >
              <div *ngIf="numeroValido; else msgNumeroInvalido">
                <small class="form-text text-sucess">OK</small>
              </div>
              <ng-template #msgNumeroInvalido>
                <small class="form-text text-sucess">Numero Invalido</small>
              </ng-template>
            </div>
          </div>
  
          <div class="form-group col-md-4">
            <input type="text" class="form-control {{complementoEstadoPrimitivo ? '' : (complementoValido ? 'is-valid' : 'is-invalid')}}" placeholder="Complemento" autocomplete="off" [value]="complemento" #inputComplemento (input)="atualizaComplemento(inputComplemento.value)">

          </div>
  
        </div>
        <br />
  
        <h5>Dados de pagamento</h5>
        <hr />
  
        <div class="form-row">
            
          <div class="form-group col-md-3">
            <select class="form-control {{pagamentoValidoEstadoPrimitivo ? '' : (pagamentoValido ? 'is-valid' : 'is-invalid')}}" #selectFormaPagamento (change)="atualizaFormaPagamento(selectFormaPagamento.value)">
              <div *ngIf="pagamentoValidoEstadoPrimitivo == false" >
                <div *ngIf="pagamentoValido; else msgPagamentoInvalido">
                  <small class="form-text text-sucess">OK</small>
                </div>
                <ng-template #msgPagamentoInvalido>
                  <small class="form-text text-sucess">Complemento Invalido</small>
                </ng-template>
              </div>
              <option>Selecione uma opção</option>
              <option value="dinheiro" selected="{{formaPagamento == 'dinheiro' ? 'selected' : ''}}">Dinheiro</option>
              <option value="debito" selected="{{formaPagamento == 'debito' ? 'selected' : ''}}">Débito</option>
            </select>
  
            <div class="invalid-feedback">Selecione uma forma de pagamento</div>
          </div>
        </div>
  
        <hr />
        <button type="button" class="btn btn-primary btn-lg" [disabled]="formEstado" (click)="confirmarCompra()">Cofirmar compra</button>
      </form>
    </div>


    <!--teste-->
    <div class="ordem-compra" *ngIf="idPedidoCompra !== undefined">
      <app-ordem-compra-sucesso [idPedidoCompra]=idPedidoCompra></app-ordem-compra-sucesso>
    </div>

  </div>
  
  
  
  
  
  
  
  
  
  