<div class="container" style="padding-top: 60px;">
  
  <div class="secao">
    <h3 class="text-center">Destaques do dia!</h3>
    <h5 class="text-center">Aproveite as super ofertas que separamos para você:</h5>
  </div>

  <hr />

  <div class="row">
    <div class="col-sm-4" *ngFor="let oferta of ofertas">
      <div class="card" >
        <img [src]="oferta.imagens[0].url" class="card-img-top" alt="...">
        <div class="card-body " >
          <h5 class="card-title">{{oferta.titulo}}</h5>
          <p class="card-text">{{oferta.descricao_oferta}}</p>
          <p><b>R${{oferta.valor}}</b></p>
          <a [routerLink]="['/oferta', oferta.id]" class="btn btn-outline-primary">Ver oferta</a>
        </div>
      </div>
    </div>
  </div>

</div>